:root {
    --b: #00ffff;
    --p: #7200cc;
    --font-family: "PT Sans", sans-serif;
    --main-size: 20px;
    --grad: linear-gradient(45deg, var(--b), var(--p));
    --gradB: linear-gradient(45deg, #00a0a0, #7200cc);
    --bp: rgb(21, 13, 64);
}

* {
    color: var(--b);
    font-family: var(--font-family);
    font-size: var(--main-size);
    display: block;
    border-color: var(--b);
}

body {
    background-image: url(background.png);
    background-size: 100%;
    min-height: 100vh;
}

button#back{
    background: none;
    border: 1px;
    border-color: var(--b);
    margin-bottom: 0;
    margin-top: 0;
}

button#back:hover {
    background: none;
    border: 1px;
    border-color: var(--b);
}

title {
    visibility: hidden;
}

footer {
    position: relative; /* Set the footer to a relative position */
    bottom: 0; /* Align the footer to the bottom of its container (body) */
    left: 0;
}

.text {
    padding: 0.2rem;
    cursor: pointer;
    margin: 0.5rem auto;
}

.content {
    position: relative;
    text-align: center;
    align-content: center;
    align-items: center;
    alignment-baseline: center;
    align-self: center;
}

h1 {
    font-size: 2rem;
    text-align: center;
}
