# Default ignored files
/shelf/
.idea/workspace.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/.gitignore
.idea/WebNUP.iml
*.DS_Store
venv
# Editor-based HTTP Client requests
/httpRequests/
