:root {
    --b: #00ffff;
    --p: #7200cc;
    --font-family: "PT Sans", sans-serif;
    --main-size: 1.5vw;
}

::placeholder {
    color: var(--b);
    box-shadow: none;
    font-size: var(--main-size);
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/CheapFonFinal.png);
    background-size: 100%;
}

body {
    color: var(--b);
    font-family: var(--font-family);
    font-size: var(--main-size);
    padding: 5%;
}


.content {
    /*color: var(--b);*/
    position: relative;
    text-align: center;
    alignment-baseline: center;
    padding: 5%;
    font-size: var(--main-size);
}

.gradient-border {
    font-size: var(--main-size);
    width: 10%;
    height: 10%;
    border-radius: 10px;
    overflow: hidden;
    display: block;
    margin: 1% auto;
}

.sub-gb  {
    height: 100%;
    border: 5px solid;
    border-image: linear-gradient(45deg, var(--b), var(--p)) 1;
    /*padding: 1rem;*/
}

input {
    /*color: var(--b);*/
    height: 100%;
    background: none;
    border:none;
    outline: none;
    padding: 1rem;
}


.important-button {
    /*color: var(--b);*/
    font-size: var(--main-size);
    display: block;
    margin: 1% auto;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background: linear-gradient(to right, #00FFFF, #7200cc); /* Adjust the gradient colors as desired */
    cursor: pointer;
}

.text-fields {
    margin: 10px;
    font-size: var(--main-size);
}

.border-text {
    display: block;
    margin: 0.5% auto;
    padding: 5px 10px;
    cursor: pointer;
}

.icon {
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
}
