.container {
    position: relative;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/CheapFonFinal.png);
    background-size: 100%;
}

.content {
    position: relative;
    text-align: center;
    alignment-baseline: center;
    padding-top: 5%;
}


.input {
    display: block;
    margin: 1% auto;
    width: 10%;
    height: 10%;
    /*border-image: linear-gradient(to right, darkblue, darkorchid) 2%;*/
    /*border-radius: 0.5em;*/
    /*border: 4px solid transparent;*/
    border-image: url(../images/border.svg) 5;
}


.login-button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to right, #00FFFF, #7200cc); /* Adjust the gradient colors as desired */
    color: #FFFFFF;
    cursor: pointer;
}

.text-fields {
    margin-top: 10px;
}

.border-text {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid;
    border-image: linear-gradient(to right, #00FFFF, #00FF00); /* Adjust the gradient colors as desired */
    border-image-slice: 1;
    color: #000000;
    cursor: pointer;
}

.icon {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
