:root {
    --b: #00ffff;
    --p: #7200cc;
    --font-family: "PT Sans", sans-serif;
    --main-size: 3vh;
    --grad: linear-gradient(45deg, var(--b), var(--p)) ;
}

.important-button {
    border: none;
    border-radius: 10px;
    background: var(--grad);
    cursor: pointer;
    padding: 0.5rem 5vw;
    margin: 3vh auto;

}

.icon {
    padding-top: 5vh;
    padding-bottom: 5vh;
    width: 20vw;
    height: 20vw;
}
