
.categories-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 10px;
    justify-items: center;
    margin: 10px auto;
    max-width: 1200px;
}

.items.collections {
    text-align: center;
}

.items.collections img{
    width: 250px;
    height: 250px;
}






