
.categories-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    justify-items: center;
    margin: 0 auto;
    max-width: 1200px;
}

.category {
    padding: 20px;
    text-align: center;
}

.category img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}





