.catalog-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2vw;
    padding: 20px;
}

.item {
    border: 1px solid;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

.item img {
    padding-top: 5vh;
    padding-bottom: 5vh;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
}

p {
    font-weight: bold;
}

.name {
    margin: 10px 0;
}

.search-bar {
    display: flex; /* Use flexbox to arrange elements in a line */
    /*align-items: center; !* Vertically center elements *!*/
}

.gradient{
    flex: 0.5;
}

.search-input {
    text-align: left;
    padding: 0 1rem;
    width: calc(100% - 40px);
}

.search-btn {
    border: none;
    height: 30px;
    width: 30px;
    margin-right: 20px;
}
