<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/main.css">
    <link rel="stylesheet" type="text/css" href="../static/elements.css">
    <link rel="stylesheet" type="text/css" href="../static/grad_border.css">

</head>
<body>
<!--Background-->
<div class="background-image">

    <!--Content-->
    <div class="container">
        <div class="content">
            <img src="../static/images/dress1.png" class="icon" alt="Image">
            <div class="gradient-border">
                <div class="sub-gb">
                    <input id="email" type="email" placeholder="Email">
                </div>
            </div>
            <div class="gradient-border">
                <div class="sub-gb">
                    <input id="password" type="password" placeholder="Password">
                </div>
            </div>

            <button id="login" class="important-button">Login</button>

            <span class="text">Forgot password?</span>
            <span class="text">Continue as guest</span>

        </div>
    </div>
</div>
<script src="../static/check_login.js"></script>
</body>
</html>

