<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/main.css">
    <link rel="stylesheet" type="text/css" href="../static/elements.css">
    <link rel="stylesheet" type="text/css" href="../static/grad_border.css">
    <link rel="stylesheet" type="text/css" href="../static/login.css">

</head>
<body>
<!--Background-->
<div class="background-image">

    <!--Content-->
    <div class="container">
        <div class="content">
            <img src="../static/images/dress1.png" class="icon " alt="Image">

            <input type="email" class="gradient" placeholder="Email">

            <input type="password" class="gradient" placeholder="Password">

            <button class="important-button gradient">Login</button>

            <span id="fgtPassword" class="text">Forgot password?</span>
            <span id="guestMode" class="text">Continue as guest</span>

        </div>
    </div>
</div>
<script src="../static/pages_connections.js"></script>
</body>
</html>

