<!DOCTYPE html>
<html lang="">
<head>
    <link rel="stylesheet" type="text/css" href="../static/main.css">
    <link rel="stylesheet" type="text/css" href="../static/elements.css">
    <title>MainPage</title>
</head>
<body>

<!--Background-->

{% include "header.html" %}

<h1>Newest</h1>

<div class="catalog-grid">
    <!-- Catalog items -->
    <div id=1 class="item">
        <img src="../static/images/autumn.jpg" class="item " alt="Autumn Dress">
        <p>$25.99</p>
        <p>Product Name 1</p>
        <button class="important-button gradient">Buy</button>
    </div>

    <div class="item">
        <img src="../static/images/spring.jpg" class="item " alt="Autumn Dress">
        <p class="price">$25.99</p>
        <p class="name">Product Name 1</p>
        <button class="important-button">Buy</button>
    </div>

    <div class="item">
        <img src="../static/images/winter.jpg" class="item " alt="Autumn Dress">
        <p class="price">$25.99</p>
        <p class="name">Product Name 1</p>
        <button class="important-button">Buy</button>
    </div>
</div>
<h1>Sales</h1>
<div class="catalog-grid">

    <div class="item">
        <img src="../static/images/new6.webp" class="item " alt="Autumn Dress">
        <p class="price">$25.99</p>
        <p class="name">Product Name 1</p>
        <button class="important-button">Buy</button>
    </div>

    <div class="item">
        <img src="../static/images/new1.webp" class="item" alt="Autumn Dress">
        <p class="price">$25.99</p>
        <p class="name">Product Name 1</p>
        <button class="important-button">Buy</button>
    </div>

    <div class="item">
        <img src="../static/images/new2.jpeg" class="item" alt="Autumn Dress">
        <p class="price">$25.99</p>
        <p class="name">Product Name 1</p>
        <button class="important-button">Buy</button>
    </div>
</div>
<h1>New Collection</h1>

<div class="catalog-grid">

    <div class="item">
        <img src="../static/images/new5.webp" class="item img" alt="Autumn Dress">
        <p class="price">$25.99</p>
        <p class="name">Product Name 1</p>
        <button class="important-button">Buy</button>
    </div>

    <div class="item">
        <img src="../static/images/ceber.png" class="item img" alt="Autumn Dress">
        <p class="price">$25.99</p>
        <p class="name">Product Name 1</p>
        <button class="important-button">Buy</button>
    </div>


    <!-- Add more items as needed -->
</div>

{% include "footer.html" %}

<!--<script src="../static/js/header_footer.js"></script>-->
<script src="../static/header.js"></script>
<script type="module" src="../static/catalog.js"></script>

</body>
</html>

