<!DOCTYPE html>
<html lang="">
<head>
    <link rel="stylesheet" type="text/css" href="../static/main.css">
    <link rel="stylesheet" type="text/css" href="../static/elements.css">
    <title>Login</title>

</head>
<body>

<!--Content-->
<div class="container">
    <div class="content register">
        <img src="../static/images/dress1.png" class="icon " alt="Image">

        <input id="email" type="email" class="gradient" placeholder="Email">
        <input id="name" type="text" class="gradient" placeholder="Name">
        <input id="surname" type="text" class="gradient" placeholder="Surname">
        <input id="phone" type="tel" class="gradient" placeholder="Phone">
        <input id="age" type="number" class="gradient" placeholder="Age">

        <input id="password" type="password" class="gradient" placeholder="Password">
        <input id="password_rep" type="password" class="gradient" placeholder="Repeat Password">

        <button id="login" class="important-button gradient">Submit</button>
        <button id="back" class="important-button">Back</button>

        <span id="guestMode" class="text">Continue as guest</span>

    </div>
</div>

{% include "footer.html" %}

<script type="module" src="../static/register.js"></script>

</body>
</html>

