<!DOCTYPE html>
<html lang="">
<head>
    <link rel="stylesheet" type="text/css" href="../static/main.css">
    <link rel="stylesheet" type="text/css" href="../static/grad_border.css">
    <link rel="stylesheet" type="text/css" href="../static/elements.css">
    <link rel="stylesheet" type="text/css" href="../static/login.css">
    <title>ResetPassword</title>

</head>
<body>
<!--Background-->
<div class="background-image">

    <!--Content-->
    <div class="container">
        <div class="content">
            <img src="../static/images/dress1.png" class="icon" alt="Image">

            <span class="text">Enter your email:</span>

            <input class="gradient" type="email" placeholder="Email">

            <button id="sendLink" class="important-button gradient">Send Link</button>

        </div>
    </div>
</div>

<script src="../static/pages_connections.js"></script>
</body>
</html>