<!DOCTYPE html>
<html lang="">
<head>
    <link rel="stylesheet" type="text/css" href="../static/main.css">
    <link rel="stylesheet" type="text/css" href="../static/elements.css">
    <title>SearchPage</title>
</head>
<body>
<!--Background-->

{% include "header.html" %}

<div class="catalog-grid">

    {% for item in items %}

    <div id={{item.id}} class="item" tag="search">
        <img src="{{item.src}}" class="img" alt="Autumn Dress">
        <p>${{item.price}}</p>
        <p>{{ item.title }}</p>
        <button id="buy" data_id="{{item.id}}" class="important-button gradient">Buy</button>
    </div>

    {% endfor %}

</div>

{% include "footer.html" %}

<script src="../static/header.js"></script>
<script src="../static/catalog.js"></script>

</body>
</html>

