<!DOCTYPE html>
<html lang="">
<head>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link rel="stylesheet" type="text/css" href="../css/elements.css">
    <link rel="stylesheet" type="text/css" href="../css/category.css">
    <title>SearchPage</title>
</head>
<body>
<!--Background-->

{% include "header.html" %}

<h1>Collections</h1>
<div class="categories-grid">
    {% for item in items %}

    <div id={{item.collection}} class="items collections">
        <h2 class="item-name">{{item.collection}}</h2>
        <img src="{{item.src}}" class="img" alt="../static/images/default.png">

    </div>

    {% endfor %}

</div>

{% include "footer.html" %}

<!--<script src="../static/get_dress.js"></script>-->
<script src="../js/header.js"></script>
<script src="../js/category.js"></script>
</body>
</html>

