<!DOCTYPE html>
<html lang="">
<head>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link rel="stylesheet" type="text/css" href="../css/elements.css">
    <link rel="stylesheet" type="text/css" href="../css/item.css">
    <title>MainPage</title>
</head>
<body>

<!--Background-->

{% include "header.html" %}


<div class="item-page">
    <img class='item_img gradient' src="{{item.src}}" alt="Product Image">
    <div class="item-details">
        <h1 class="item-name">{{ item.title }}</h1>
        <p class="item-price">${{item.price}}</p>
        <div class="size-selection">
            <label for="size gradient">Size:</label>
            <select id="size gradient">
                <option value="S">S</option>
                <option value="M">M</option>
                <option value="L">L</option>
            </select>
        </div>

        <button id="buy" data_id="{{item.id}}" class="important-button gradient">Add to Cart</button>



        <div class="item-description">
            <h2>Description</h2>
            <p class="description">Collection: {{item.collection}}</p>

            <p class="description"> {{item.description}}</p>
        </div>
    </div>
</div>


{% include "footer.html" %}

<script src="../js/header.js"></script>
<script src="../js/get_item.js"></script>
<script src="../js/cart.js"></script>
</body>
</html>

