<!DOCTYPE html>
<html lang="">
<head>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link rel="stylesheet" type="text/css" href="../css/elements.css">
    <title>MainPage</title>
</head>
<body>

<!--Background-->

{% include "header.html" %}

<h1>Newest</h1>

<div class="catalog-grid">
    {% for item in items[0] %}
    <div id={{item.id}} class="item" tag="search">
        <img src="{{item.src}}" class="img" alt="Autumn Dress">
        <p>${{item.price}}</p>
        <p>{{ item.title }}</p>
        <button id="buy"  class="important-button gradient">Buy</button>
    </div>
    {% endfor %}

</div>
<h1>Sales</h1>
<div class="catalog-grid">

    {% for item in items[1] %}
    <div id={{item.id}} class="item" tag="search">
        <img src="{{item.src}}" class="img" alt="Autumn Dress">
        <p>${{item.price}}</p>
        <p>{{ item.title }}</p>
        <button id="buy"  class="important-button gradient">Buy</button>
    </div>
    {% endfor %}
</div>
<h1>Latest Collection</h1>

<div class="catalog-grid">

    {% for item in items[2] %}
    <div id={{item.id}} class="item" tag="search">
        <img src="{{item.src}}" class="img" alt="Autumn Dress">
        <p>${{item.price}}</p>
        <p>{{ item.title }}</p>
        <button id="buy"  class="important-button gradient">Buy</button>
    </div>
    {% endfor %}


    <!-- Add more items as needed -->
</div>

{% include "footer.html" %}

<script src="../js/header.js"></script>
<script type="module" src="../js/catalog.js"></script>

</body>
</html>

